<html ng-app="ThoughtAnalyzerApp">
  <head>
    <title>Thought Analyzer Machine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="ThoughtAnalyzerController">

  <div class="bg">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                  <li><a href="#" style="font-family:georgia,garamond,serif;font-size:18px;font-style:italic;">How does it work?</a> </li>
                  <li><a href="#" style="font-family:georgia,garamond,serif;font-size:18px;font-style:italic;">Try it now</a> </li>
                  <li><a href="#" style="font-family:georgia,garamond,serif;font-size:18px;font-style:italic;">github</a> </li>
              </ul>
            </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 offset-sm-1 text-center">

                <h1 style="font-family:georgia,garamond,serif;font-size:26px;font-style:italic;">Gauge your mood by typing in your thoughts</h1>
                <br>
                <form role="form" ng-submit="getResults()">
                  <!--<div class="form-group">-->
                    <input type="text" ng-model="text" name="text" class="form-control" id="text-box" placeholder="I am feeling..." style="font-family:georgia,garamond,serif;font-size:18px;font-style:italic;max-width: 800px;">
                  <!--</div>-->
                    <!--raw is added so that the jinja template does not process the submiteButtonText part as some variable.
                    And it is left for angular to process and replace it with the text from main.js-->
                  <br>
                  {% raw %}
                  <button type="submit" style="font-family:georgia,garamond,serif;font-size:18px;font-style:italic;max-width: 800px;" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
              {% endraw %}
                </form>

          </div>
        </div>
        <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                  {% raw %}
                  <div id="results">
                      <span ng-repeat="key in results">
                          You seem to be in {{ results['sentiment'] }} mood!
                      </span>
                  </div>
                  {% endraw %}
                  <br>
                </div>
              <br>
              {% for error in errors %}
                <h4>{{ error }}</h4>
              {% endfor %}
                <br>
            </div>
          </div>
        </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>