<html ng-app="ThoughtAnalyzerApp">
  <head>
    <title>Thought Analyzer Machine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="ThoughtAnalyzerController">
    <div>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
              <h1>Thought Analyzer</h1>
              <br>
              <form role="form" ng-submit="getResults()">
                <div class="form-group">
                  <input type="text" ng-model="text" name="text" class="form-control" id="text-box" placeholder="Enter your thoughts..." style="max-width: 300px;">
                </div>
                  <!--raw is added so that the jinja template does not process the submiteButtonText part as some variable.
                  And it is left for angular to process and replace it with the text from main.js-->
                {% raw %}
                <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
                {% endraw %}
              </form>
              <br>
              {% for error in errors %}
                <h4>{{ error }}</h4>
              {% endfor %}
                <br>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            {% raw %}
            <div id="results">
                <span ng-repeat="key in results">
                    You seem to be in {{ results['sentiment'] }} mood!
                </span>
            </div>
            {% endraw %}
            <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}" ng-show="loading">
            <br>
        </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>